/** message view styles */
#messageframe{
  border: 1px solid #bbb;
  background-color: #F8F1F8;
  padding: 1em;
  box-shadow: 0 0 4px #666;
}
div#web_view,div#contents_view{
  width: auto;
  margin: 1em auto;
}

.clickable{text-decoration: underline}

div.messageheaderbox{
  margin: 6px 8px 0px 8px;
  border: 1px solid #ccc;
}
#messagebody{
  position:relative;
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}
#messagebody table.headers-table{
  width: auto;
  margin: 6px 8px;
  background-color: #F4F4F4;
  border: 1px solid #ccc;
}
#attachment-list{
  margin: 0px;
  padding: 0px 0px 0px 68px;
  height: 18px;
  list-style-image: none;
  list-style-type: none;
  background: url(images/icons/attachment.png) 52px 1px no-repeat #DFDFDF;
  border-bottom: 1px solid #FFFFFF;
}
#attachment-list li{
/*  display: block; */
  float: left;
  height: 18px;
  font-size: 11px;
  padding: 2px 10px 0px 10px;
}
#attachment-list li a{
  text-decoration: none;
}
#attachment-list li a:hover{
  text-decoration: underline;
}

div.message-part{
  padding: 8px;
  padding-top: 10px;
  overflow: hidden;
}
div.message-part a{
  color: #0000CC;
}
div.message-part div.pre{
  margin: 0px;
  padding: 0px;
  white-space: pre;
  font-family: monospace;
}
div.message-part blockquote{
  color: blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: #F6F6F6;
  margin: 2px 0px 2px 0px;
  padding: 1px 8px 1px 10px;
}
div.message-part blockquote blockquote{
  color: green;
  border-left: 2px solid green;
  border-right: 2px solid green;
}
div.message-part blockquote blockquote blockquote{
  color: #990000;
  border-left: 2px solid #bb0000;
  border-right: 2px solid #bb0000;
}

#remote-objects-message{
  display: none;
  height: 20px;
  min-height: 20px;
  margin: 8px 8px 0px 8px;
  padding: 10px 10px 6px 46px;  
}
#remote-objects-message a{
  color: #666666;
  padding-left: 10px;
}
#remote-objects-message a:hover{
  color: #333333;
}