/*Main menu and navigation bar*/

#adminmenu {  background: #4c4e5a;text-align: left}
#adminmenu .menu,.menu ul,.menu li,.menu a{margin:0;padding:0;border:none;outline:none;}
 
#adminmenu .menu,#navigation-bar{
    padding: 0 10%;
    height: 2.8em;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
} 
#adminmenu .menu li {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}
#adminmenu .menu>li{
    border-left: 2px solid #393942;
    /*border-right: 2px solid #393942;*/
  }
#adminmenu .menu li a {
    display: block;
    padding: 0 1em;
    margin: 6px 0;
    line-height: 2em;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
#adminmenu .menu li:first-child a { border-left: none; }
#adminmenu .menu li:last-child a{ border-right: none; } 
#adminmenu .menu li:hover > a { color: #8fde62; }

#adminmenu .menu ul {
    position: absolute;
    top: 2.8em;
    left: 0;
    opacity: 0;
    background: #1f2024;
    border-radius: 0 0 5px 5px;
    z-index:-20;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
#adminmenu .menu li:hover > ul { opacity: 1; z-index:10;}
#adminmenu .menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
#adminmenu .menu li:hover > ul li {
    height: 2.5em;
    overflow: visible;
    padding: 0;
}
#adminmenu .menu ul li a {
    width: 150px;
    padding: 4px 0 4px 40px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
}
#adminmenu .menu ul li:last-child a { border: none; }

#navigation-bar{
	height: auto;
	padding: 0;
    padding-left: 1em;
	text-align: left;
	color: #ddd;
}
#navigation-bar span{
    margin: 0.5em 0.1em;
	display: inline-block;
	vertical-align: middle;
	/*height: 100%;*/

}

#navigation-bar span a{
    background-color: rgba(200,200,200,0.5);
      padding: 0.2em 0.3em;
      border-radius: 0.8em;
      color:#333;
      font-weight: bold;
}
#navigation-bar span a:hover{
  color:#1716A1;
}