
/*RESET CSS*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
header, footer, aside, nav, article, section, figure, hgroup { display: block; }  
html{min-height: 100%;}
body{width: 100%;height: 100%;}
img,object,embed {max-width: 100%;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre {  white-space: pre; /* CSS2 */  white-space: pre-wrap; /* CSS 2.1 */  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */  word-wrap: break-word; /* IE */}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;} 
a:hover, a:active {outline: none;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button {width: auto; overflow: visible;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/*Here, it starts the fun*/
a:link,a:visited,a:active{color:#DDD;text-decoration: none;}
a:hover{color: #9c9}

body{
  min-height: 100%;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #EEE;
  color: #333;
}

/*#content_wrapper{min-height:100%;  }*/
header{border-bottom: 2px solid #333}
header, footer{
  width: 100%;
  height: 4em;
  background: #464646;

  background-image: linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -o-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -moz-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -webkit-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -ms-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
}
header #title,header #session_info{display: inline-block;}
header #title{width: 70%;height: 100%;}
header #session_info{width: 29%;height: 100%;}

header #title div{
  width: 30%;height: 100%;
  display: inline-block;
  vertical-align: middle;
}
header #title h1 {
  width: 68%;
  font-size: 1.3em;
  color: #ddf;
  text-shadow:0 2px 3px #000;
  letter-spacing: -1px;
  line-height: 2em;
  vertical-align: middle;
  display: inline-block;

}
header #title #logo_indect,header #title #logo_uc3m{
  height: 100%;
  margin: 0 0.5em;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 5px #000;
}

header #session_info h2{
  font-family: sans-serif;
  font-size: 1em;
  color: #999;
  line-height: 1.2em;
  vertical-align: middle;
  display: inline-block;
  margin: 0 1.2em;
}

header #session_info #menu_login{  display: inline-block;height: 100%}
/*Button Login*/
header #session_info #menu_login a{
  /*height: 100%;*/
  vertical-align: middle;
  padding: 1em;
  box-shadow:inset 0px 1px 0px 0px #a8a8cf;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90a1c2), color-stop(1, #1f427a) );
  background:-moz-linear-gradient( center top, #90a1c2 5%, #1f427a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90a1c2', endColorstr='#1f427a');
  background-color:#90a1c2;
  border-radius:6px;
  border:1px solid #96809e;
  display:inline-block;
  color:#bbc9c5;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #575980;
}header #session_info #menu_login a:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f427a), color-stop(1, #90a1c2) );
  background:-moz-linear-gradient( center top, #1f427a 5%, #90a1c2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f427a', endColorstr='#90a1c2');
  background-color:#1f427a;
  color: #115;
}header #session_info #menu_login a:active {
  position:relative;
  top:1px;
}

header #session_info h2 > span{color: #CCFFFF;}
header #session_info h2 #changepasswd a{font-size: 0.8em;color: #c2c2c2;background-color: #7D82DA;padding: 1px;border:1px solid #66E;}
header #session_info h2 #changepasswd a:hover{color: #454}

/* Main Content wrapper */
#content {
  width: 100%;
  padding: 0.5em;
  margin: 0em auto;
  color: black;
  width: 86%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2.5em;
}
#content a{color:#506CA1;}
#content a:hover{color: #95E11D}

/*Footer*/
footer {
  height: 2.5em;
  position:fixed;
  bottom:0;left:0;
  border-top: 2px solid #222;
}
footer div{margin: 0.4em auto}
footer #footer_links {
  width: 75%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
footer #footer_links ul {
  font-family: sans-serif, verdana, arial, helvetica;
  font-weight: bold;
}
footer #footer_links ul li { display: inline; }
footer #footer_links ul li a {
  padding:0 10px;
  font-size: 0.8em;
  text-decoration: none;
}footer #footer_links ul li a:hover{
  color: #aaF;
}

footer #language_box{
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

#language_box select#lang {
  background-color: #dde;
  border-radius: 0.5em;
  color:#333;
}
#language_box select#lang option{border-radius: 0.5em;}


/*Main menu*/
#adminmenu {
  background: #4c4e5a;
  text-align: left;
}
#adminmenu .menu,.menu ul,.menu li,.menu a{margin:0;padding:0;border:none;outline:none;}
 
#adminmenu .menu,#navigation-bar{
    padding: 0 10%;
    height: 2.8em;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
} 
#adminmenu .menu li {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}
#adminmenu .menu>li{
    border-left: 2px solid #393942;
    /*border-right: 2px solid #393942;*/
  }
#adminmenu .menu li a {
    display: block;
    padding: 0 1em;
    margin: 6px 0;
    line-height: 2em;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
#adminmenu .menu li:first-child a { border-left: none; }
#adminmenu .menu li:last-child a{ border-right: none; } 
#adminmenu .menu li:hover > a { color: #8fde62; }

#adminmenu .menu ul {
    position: absolute;
    top: 2.8em;
    left: 0;
    opacity: 0;
    background: #1f2024;
    border-radius: 0 0 5px 5px;
    z-index:-20;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
#adminmenu .menu li:hover > ul { opacity: 1; z-index:10;}
#adminmenu .menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
#adminmenu .menu li:hover > ul li {
    height: 2.5em;
    overflow: visible;
    padding: 0;
}
#adminmenu .menu ul li a {
    width: 150px;
    padding: 4px 0 4px 40px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
}
#adminmenu .menu ul li:last-child a { border: none; }

#navigation-bar{
	width: 100%;
	height: 2em;
	padding: 0;
	text-align: left;

}
#navigation-bar span{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}


/*Common styles*/
.shadow-box-bottom{ box-shadow: 0px 1px 2px #333;}
.shadow-box-top{box-shadow: 0px -1px 1px #333;}

/*Forms Generic style*/
/*form{background-color: #f9f9f9}*/
form div {margin: 0.5em auto;}
form h2{margin: 1em auto;  text-shadow: 0 0 2px #aaa;}
form label{padding: 0 1em;font-weight: bold;vertical-align: middle;}

form input[type=submit] {
  display: inline-block;
  cursor: pointer;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e1e6), color-stop(1, #b3a1a1) );
  background:-moz-linear-gradient( center top, #e6e1e6 5%, #b3a1a1 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e1e6', endColorstr='#b3a1a1');
  background-color:#e6e1e6;
  border-radius:6px;
  border:1px solid #a69ea6;
  display:inline-block;
  color:#7d67b8;
  font-family:arial;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}form input[type=submit]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b3a1a1), color-stop(1, #e6e1e6) );
  background:-moz-linear-gradient( center top, #b3a1a1 5%, #e6e1e6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3a1a1', endColorstr='#e6e1e6');
  background-color:#b3a1a1;
  color:#333;
}form input[type=submit]:active {
  position:relative;
  top:1px;
}

form input[type=checkbox],form input[type=radio] {
  margin: 0;
  vertical-align: middle;
}

form input[type=text],form input[type="password"], form textarea {
  color: #090909;
  background: #EEE;
  border: 1px solid #CCC;
  margin:0.2em;
  box-shadow: 0 1px 2px #111;
  display: inline-block;
}

form input[type="text"]:focus,form input[type="password"]:focus,form textarea:focus{
  background-color: #dfd;
}

form input[type="password"]:hover,form input[type=text]:hover,form textarea:hover {
  color: #000;
  background: #B0C2E4;
  border: 1px solid #888;
}

/* Login page*/
#login{
  border-radius: 11px;
  background: #f9f9f9;
  border: 1px solid #E5E5E5;
  margin: 1em auto;
  padding: 2em;
  width: 22em;  
}
#login p{text-align: justify;}
#login p span{font-weight: bold;}
#login > h1{font-size: 1.5em;margin-bottom: 1em}
#login label{
  font-weight: bold;
  text-align: left;
  display: inline-block;
  font-size: 1em;
  margin: 0 0.5em;

  /*padding-top: 0.5em;*/
}

/* tables */
table {
  width: 100%;
  color:#555;
  background-color: #f9f9f9;
  text-align: center;
}

table tr th,table tr td{
  padding: 0.4em;
  border: 1px solid #A28DBC;
  vertical-align: middle;
}
table tr th {
  background: #D9E2E1;
  color: #616B76;
}
table tr td:focus,table tr td:hover{
  color: #000;
  background: #8C8EDD;
}
table tr:focus,table tr:hover{
  color: #333;
  background: #A2ADC0;
}


/** message list styles */

/*body.messagelist{
  margin: 0px;
  background-color: #F9F9F9;
}*/
table#messagelist{
  display: table;
  table-layout: fixed; /* this  prevents you from having long tables due to long URLs. */
}

#messagelist thead tr td
{
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background-color: #EBEBEB;
  font-size: 11px;
  font-weight: bold;
}


#messagelist thead tr td a,
#messagelist thead tr td a:hover
{
}

#messagelist tbody tr td
{
  height: 16px;
  padding: 2px;
  padding-right: 4px;
  font-size: 11px;
  overflow: hidden;
/*  white-space: nowrap;*/
  border-bottom: 1px solid #EBEBEB;
  /*cursor: pointer;*/
}

#messagelist tbody tr td b
{
}

#messagelist col
{
  display: table-column;
  text-align: left;
  vertical-align: middle;
}

#messagelist tr th.comments
{
  /*width: 300px;*/
  vertical-align: middle;
}

#messagelist tr th.date
{
  width: 135px;
  overflow: hidden;
  vertical-align: middle;
}

#messagelist tr th.from,
#messagelist tr th.to
{
  width: 180px;
  vertical-align: middle;
}

#messagelist tr th.email
{
  width: 250px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis
}
#messagelist tr th.actions
{
  width: 60px;
  vertical-align: middle;
}

#messagelist tr th.type
{
  width: 150px;
  vertical-align: middle;
}

#messagelist tr th.room
{
  width: 250px;
  vertical-align: middle;
}

#messagelist tr th.info
{
  width: 50px;
  vertical-align: middle;
}

#messagelist tr th.ip
{
  width: 105px;
  overflow: hidden;
  vertical-align: middle;
}

#messagelist tr th.method
{
  width: 55px;
  vertical-align: middle;
}

#messagelist tr th.number
{
  width: 70px;
  vertical-align: middle;
}

#messagelist tr th.plfl
{
  width: 20px;
  vertical-align: middle;
}

#messagelist tr th.relevance
{
  width: 80px;
  vertical-align: middle;
}

#messagelist tr th.size
{
  width: 65px;
  overflow: hidden;
  vertical-align: middle;
}
#messagelist tr th.url
{
  width: 250px;
  vertical-align: middle;
}
#messagelist tr th.username
{
  width: 70px;
  vertical-align: middle;
}

#messagelist tr td.date
{
  width: 118px;
  vertical-align: middle;
}

#messagelist tr td.url
{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#messagelist tr.message
{
  background-color: #FFFFFF;
}

/*
#messagelist tr.odd
{
  background-color: #F9F9F9;
}
*/

#messagelist tr.unread
{
  font-weight: bold;
  background-color: #FFFFFF;
}

#messagelist tr.selected td
{
  font-weight: bold;
  color: #FFFFFF;
  background-color: #CC3333;
}

#messagelist tr.unfocused td
{
  font-weight: bold;
  color: #FFFFFF;
  background-color: #929292;
}

#messagelist tr.selected td a.rcmContactAddress
{
  color: #FFFFFF;
}

#messagelist tr.unfocused td a.rcmContactAddress
{
  color: #FFFFFF;
}

#messagelist tr.deleted td a.rcmContactAddress
{
  color: #CCCCCC;
}

#messagelist tr.deleted td,
#messagelist tr.deleted td a
{
  color: #CCCCCC;
}


/*Paginator*/
table#listpage th {
  background: #A9A2A1;
  color: black;
  padding: 0.5em;
}
table#listpage tr th.next {
  vertical-align: middle;
  width: 10%;
}
table#listpage tr th.next:hover{
	background: #A9C2A1;
}










/* notices and errors */
#flashMessage, .error, .error_message {
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  padding: 0.5em;
  background-color: #f9f9f9;
  color: #e66;
  margin: 1em auto;
  font-weight: bold;
  box-shadow: 0 2px 5px #999;
  text-shadow: 0 0 1px #AAA;
  width: 35em;
}
.error em {
  font-size: 18px;
  color: #003d4c;
}
.notice {
  color: #656565;
  font-size: 14px;
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 1em 0;
  display:block;
}
.tip {
  color: #656565;
  background-color: #ddd;
}


/* page of cases list and sessions*/
.generic,.sols,.pols { padding: 1em;}

.pols > h2,.sols > h2, .solinfo h2,.pcap_input h2{
  border-radius: 10px;
  border:2px solid #aaa;
  margin: 0.5em auto;
  padding: 0.3em;
  background-color: #e2d2e9;
  text-shadow: 0 0 5px #666;
  background-image: linear-gradient(bottom, rgb(78,112,233) 15%, rgb(110,146,255) 58%, rgb(143,176,255) 79%);
  background-image: -o-linear-gradient(bottom, rgb(78,112,233) 15%, rgb(110,146,255) 58%, rgb(143,176,255) 79%);
  background-image: -moz-linear-gradient(bottom, rgb(78,112,233) 15%, rgb(110,146,255) 58%, rgb(143,176,255) 79%);
  background-image: -webkit-linear-gradient(bottom, rgb(78,112,233) 15%, rgb(110,146,255) 58%, rgb(143,176,255) 79%);
  background-image: -ms-linear-gradient(bottom, rgb(78,112,233) 15%, rgb(110,146,255) 58%, rgb(143,176,255) 79%);
}

.sols form{
  border:1px solid #aaa;
  text-align: center;
}

/* Data acquisition / search */
.search {
	width: 70%;
  border-radius: 10px;
  border: 2px solid #D1D9C4;
  background-color: white;
  color: #900;
  margin: 0.5em auto;padding: 1em auto;
  font-weight: bold;

}
form#formtimeGraphForm{
	padding: 1em;
}

.src_first {
  float: right;
  color: #21059B;
  width: 40%;
}
.src_first a img{
	/*height: 100%;*/
	width: 40%;
}

.red{color:darkred;}

.solinfo,.pcap_input{
  display: inline-block;vertical-align: top;
  margin: 1em;
}
.solinfo, .pcap_input{ width: 45%;}
.solinfo h2,.pcap_input h2{
  font-size: 1em;
}

/*.pcap_input div{padding: 1em}*/
.pcap_input div h4{text-align: left;}

#statistic_panel table tr td{
  vertical-align: top;
  text-align: left;
}
#statistic_panel table tr td:hover{background-color: transparent;}

.info-block{
  display: inline-block; 
  border-radius: 5px;
  /*border:1px solid #444;*/
}
.info-block h3{
  font-size: 0.8em;
  color: #000;
  border: 1px solid #225227;
  background-color: #73a2f0;
  padding: 3px;
}
.info-block table{
  background-color: #c8cecc;
  font-size: 0.8em;
  color: #222;
}
.info-block table tr{
  width: 100%;
}
.info-block table tr th{
  font-weight: bold;
}
.info-block h3:hover{cursor: pointer;}
.info-block h3:hover + table{
  /*position:absolute;*/
  /*top:0;left:0;*/
  /*z-index: 50;*/
  /*display: block;*/
}


/* selezione del grafico */
.graph { 
  text-align: center;
  margin: 0 0px 6px 0px;
}

.graph_select {
  border-radius: 10px;
  border: 1px solid #D1D9C4;
  padding: 10px;
  background-color: white;
  color: #900;
  font-size: 16px;
  margin: 0 40px 2px 40px;
  font-weight: bold;
  padding: 2px 10px;
}



.src_second {
  float: left;
}

.conf > h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #000;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #425227;
  background-color: #A39240;
}

.sol > h4 { 
  margin: 0px;
  margin-top: 3px;
}

.confbox {
  width: 25%;
}

/*.sol .ui-progressbar {
    height: 6px;
    margin-top: 3px;
    width: 60%;
}
.sol .ui-progressbar-value {
    background-image: url(themes/ui-darkness/images/pbar-ani.gif);
}*/

/*.sol > h2 {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  margin: 0.5em auto;
  font-family: verdana, arial, sans-serif;
  color: #000;
  border: 1px solid #000;
  background-color: #A39240;
}*/
#progressbar{float: left;}
#progressbar_et {float: left;}
.conf {  height: 280px;}
.confsmall {  height: 180px;}
.conf input[type="submit"] {  margin: auto;}

.small {
  font-size: 13px;
}

.ipcap {
  border: 1px solid #D1D9C4;
  background-color: #FFFF99;
  display: none;
}

.iweb {
  display: none;
}

.ipcap p {
  margin: 0 !important;
  padding: 0 !important;
}

td.pinfo:hover .iweb {
  display: block;
}

td.pinfo:hover .ipcap {
  display: block;
}

.voip_flash
{ 
  margin: auto;
  width: 100%;
  text-align: center;
}

#iserm a img {
  opacity: 0.7;
  text-align: center;
}

#iserm a img:hover {
  opacity: 1;
}



/*form div.input { 
  float: left;
}*/

form div.date{
  margin-left: 0em;
}

table tr.altRow td {
  background: #f4f4f4;
}
table td.actions {
  white-space: nowrap;
}
#cakeSqlLog td {
  text-align: left;
  padding: 4px 8px;
  background: #fff;
  border-bottom: 2px solid #ccc;
}


/* scaffold show */
div.related {
  display: block;
}


/* overlay */ 
div.overlay, #overlay {
  padding: 40px;  
  /*width: 576px; vedi a.player */
  width: 400px;
  display: none;
  background-image: url(/img/over_white.png);
}

div.overlay div.close, #overlay div.close {
  background: url(/img/over_close.png) no-repeat;
  position: absolute;
  top: 2px;
  right: 5px; 
  width: 35px;
  height: 35px;
  cursor: pointer;
}

a.player {    
  display: block;
  /*height: 450px; vedi div.overlay*/
  height: 300px;
}

#SearchLabel {
  margin-left: 8px;
  margin-right: 8px;
}

object.html {
  width: 100%;
}
