
/*RESET CSS*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
header, footer, aside, nav, article, section, figure, hgroup { display: block; }  
body,html{min-width: 100%;min-height: 100%;}
img,object,embed {max-width: 100%;}object.html{width: 100%;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse:collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; vertical-align: baseline;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;} 
a:hover, a:active {outline: none;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable, input[type=button], input[type=submit], button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button {width: auto;}
html{  min-width: 1200px;}

/*Here, it starts the fun*/
/*Common styles*/
.centered{margin:0 auto;}
.shadow-box-bottom{ box-shadow: 0 1px 2px #666;}
.shadow-box-top{box-shadow: 0px -1px 1px #333;}
.divamiddle{  vertical-align: middle;  display: inline-block;}
.boxstyle_white{
  border-radius: 1em;
  background: #f9f9f9;
  border: 1px solid #C6D6D6;
  padding: 1em;
}
.button img{max-width: 100%;min-height: 100%}
.mark{color:#7A2F4B;}
a:link,a:visited,a:active{color:#DDD;text-decoration: none;}
a:hover{color: #152A65}

body{
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
  background-color: #eee;
  color: #333;
  /*overflow:hidden;*/
  height:100%;
}
div#wrapper{
  background-color: #EEE;
  margin-bottom: 2.5em;
  min-height: 100%;
  height: auto;
}

header{
  border-bottom: 2px solid #333;
  height: auto;
}
header, footer{
  width: 100%;
  background: #464646;
  background-image: linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -o-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -moz-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -webkit-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
  background-image: -ms-linear-gradient(bottom, rgb(44,63,138) 30%, rgb(56,77,173) 74%, rgb(54,75,194) 89%);
}

header #logos{width: 20%;text-align: left;}
header #session_info{width: 28%;}
header h1#title {
  width: 50%;
  font-size: 1.3em;
  color: #ddf;
  text-shadow:0 2px 3px #000;
  letter-spacing: -1px;
  line-height: 2em;
}
header #logos{height: inherit;}
header #logos #logo_indect,header #logos #logo_uc3m{
  height: 100%;
  box-shadow: 0 0 5px #000;
}
header #session_info h2{
  font-size: 1em;
  color: #999;
  margin:0.2em;
}

/*Button Login*/
header #session_info #menu_login a{
  /*height: 100%;*/
  vertical-align: middle;
  padding: 1em;
  background-color:#90a1c2;
  box-shadow:inset 0px 1px 0px 0px #a8a8cf;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90a1c2), color-stop(1, #1f427a) );
  background:-moz-linear-gradient( center top, #90a1c2 5%, #1f427a 100% );
  background:linear-gradient( center top, #90a1c2 5%, #1f427a 100% );
  border-radius:6px;
  border:1px solid #96809e;
  display:inline-block;
  color:#bbc9c5;
  font-family:arial;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #575980;
}header #session_info #menu_login a:hover {
  background-color:#1f427a;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f427a), color-stop(1, #90a1c2) );
  background:-moz-linear-gradient( center top, #1f427a 5%, #90a1c2 100% );
  background:linear-gradient( center top, #1f427a 5%, #90a1c2 100% );
  color: #115;
}header #session_info #menu_login a:active {
  position:relative;
  top:1px;
}
header #session_info h2 > span{color: #CCFFFF;}
header #session_info h2 #changepasswd a{font-size: 0.8em;color: #c2c2c2;background-color: #7D82DA;padding: 1px;border:1px solid #66E;}
header #session_info h2 #changepasswd a:hover{color: #454}

#main-header{height: 4.5em}

/* Main Content wrapper */
#content {
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  color: #333;
  width: 96%;
  min-height: 100%;
  overflow-y: auto;
}
#content a{color:#506CA1;}
#content a:hover{color: #152A65}


/*Footer*/
footer {
  height: 2.5em;
  position:fixed;
  bottom:0;left:0;
  border-top: 2px solid #222;
}
footer div{margin: 0.4em auto}
footer #footer_links {
  width: 75%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
footer #footer_links ul {
  font-family: sans-serif, verdana, arial, helvetica;
  font-weight: bold;
}
footer #footer_links ul li { display: inline; }
footer #footer_links ul li a {
  padding:0 10px;
  font-size: 0.8em;
  text-decoration: none;
}footer #footer_links ul li a:hover{  color: #aaF;}
footer #language_box{
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}
footer #language_box select#lang {
  background-color: #dde;
  border-radius: 0.5em;
  color:#333;
}
footer #language_box select#lang option{border-radius: 0.5em;}


/* notices and errors */
#flashMessage, .error, .error_message {
  border-radius: 0.8em;
  border: 1px solid #E5E5E5;
  padding: 0.5em;
  background-color: #f9f9f9;
  color: #e66;
  margin: 1em auto;
  font-weight: bold;
  box-shadow: 0 2px 5px #999;
  text-shadow: 0 0 1px #AAA;
  display: inline-block;
  /*width: auto;*/
}
.error em {  font-size: 18px;  color: #003d4c;}
.notice {
  color: #656565;
  font-size: 14px;
  background-color: #F6C9C5;
  padding: 0.5em;
  margin: 1em 0;
  display:block;
  border-radius: 10px;
  border:1px solid #C6C9C5;
}
.tip { color: #656565;  background-color: #ddd;}


/* Specific wrapper elements styles*/

.generic_form h2,.generic h2,.solinfo h2,.pcap_input h2{
  border-radius: 5px;
  border:1px solid #aaa;
  margin: 0.5em auto;
  padding: 0.3em;

  background-color: #8FB0FF;
  text-shadow: 0 1px 2px #999;
  box-shadow: 0 1px 1px #333;
}

/* Data acquisition / search */
.search,.src_first{border: 1px solid #ccc}
.search {
  margin: 0.5em auto;
  width: 55%;
  /*width: auto;*/
  color: #900;
}
.search form{padding: 0.5em}
.search div{width:auto;}
.search input[type="text"]{width: auto}
.search input[type="radio"]{margin: 0 0.1em 0 0.5em;}
.search input[type="radio"] + label{margin:0 0.8em 0 0.1em;}
.src_first{  width: 35%;}
.src_first img{width: 20%;}
.src_first img:hover{opacity: .8}
.src_first h3{  margin: 0.6em;}

.solinfo,.pcap_input{
  display: inline-block;vertical-align: top;
  margin: 0.5em;
}
.solinfo, .pcap_input{ width: 45%;}
.solinfo h2,.pcap_input h2{
  font-size: 1em;
}
.pcap_input div h4{text-align: left;}


#statistic_panel > div{
  display: inline-block;
  text-align: center;
  background-color: rgba(200,200,200,0.5);
  padding:0.5em;
  margin:3px;
}
#statistic_panel div.info-block{
  display: inline-block;
  vertical-align: middle;
}
#statistic_panel div.info-block table{
  background-color: #c8cecc;
  font-size: 0.8em;
  color: #222;
}
#statistic_panel div.info-block table tr th{
  font-weight: bold;font-size: 0.9em;
}
#statistic_panel div.info-block table tr th.title{
  font-size: 1.1em;
  color: #000;
  background-color: #73a2f0;
  padding: 0.5em;
}
#statistic_panel div.info-block table tr th.title:hover{cursor: pointer;}


/* selezione del grafico */
.graph { 
  text-align: center;
  margin: 0 0px 6px 0px;
}

.graph_select {
  border-radius: 10px;
  border: 1px solid #D1D9C4;
  padding: 10px;
  background-color: white;
  color: #900;
  font-size: 16px;
  margin: 0 40px 2px 40px;
  font-weight: bold;
  padding: 2px 10px;
}

.conf > h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #000;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #425227;
  background-color: #A39240;
}

.confbox {  width: 25%;}

#progressbar{float: left;}
#progressbar_et {float: left;}
.conf {  height: 280px;}
.confsmall {  height: 180px;}
.conf input[type="submit"] {  margin: auto;}


/** message view styles */
.messageframe{
  border: 1px solid #bbb;
  background-color: #F8F1F8;
  padding: 1em;
  box-shadow: 0 0 4px #666;
  margin:1em auto;
}

div#contents_view{  width: 45%;}
.pinfo > a{
  display: inline-block;
  padding: 0 0.3em;
}
.ipcap{
  background-color: #C4D198;
  display: none;
  padding: 0em 0.2em;
  width:3em;
  text-align: center;
   box-shadow: 0 0 2px #111;
}.ipcap a {
  margin: 0;padding: 0;
}
.iweb{display: none;}
.ipcap p {
  margin: 0 !important;
  padding: 0 !important;
}


/*styles candidates to delete*/

.voip_flash{ 
  margin: auto;
  width: 100%;
  text-align: center;
}

#iserm a img {
  opacity: 0.7;
  text-align: center;
}

#iserm a img:hover {  opacity: 1;}

#cakeSqlLog td {
  text-align: left;
  padding: 4px 8px;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

/* scaffold show */
div.related {  display: block;}

/* overlay */ 
div.overlay, #overlay {
  padding: 40px;  
  /*width: 576px; vedi a.player */
  width: 400px;
  display: none;
  background-image: url(/img/over_white.png);
}

div.overlay div.close, #overlay div.close {
  background: url(/img/over_close.png) no-repeat;
  position: absolute;
  top: 2px;
  right: 5px; 
  width: 35px;
  height: 35px;
  cursor: pointer;
}
a.player {    
  display: block;
  /*height: 450px; vedi div.overlay*/
  height: 300px;
}