
/* tables styles*/

table {
  width: 100%;
  color:#555;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
  display: inline-table;
  margin: 0.5em auto;
  
}
table tr th,table tr td{
  padding: 0.4em;
  border: 1px solid #826DBC;
  vertical-align: middle;
}
table tr th img,table tr td img{max-width: 20%;}
table tr th {
  background-color: #B2B5B9;
  color: #616B76;
  font-size: 1em;
}
/*table tr th:first-child{  border-top-left-radius: 5px;}
table tr th:last-child{  border-top-right-radius: 5px;}
table tr td:first-child{  border-bottom-left-radius: 5px;}
table tr td:last-child{  border-bottom-right-radius: 5px;}*/
table tr td:focus,table tr td:hover{
  color: #000;
  background: #8C8EDD;
}
table tr:focus,table tr:hover{
  color: #333;
  background: #A2ADC0;
}

/*Table headers*/
table tr th.date{width: 10%;}
table tr th.info{width: 5%;}
table tr th.ip{width: 10%;}
table tr th.comments{width: 25%;}
table tr th.url{width: 30%;}
table tr th.actions{width: 10%;}
table tr th.type{  width: 15%;}
table tr th.plfl{  width: 10%;}
table tr th.relevance{  width: 5%;}
table tr th.size{  width: 5%;}
table tr th.from,table tr th.to{width: 10%;}
table tr th.number{  width: 5%;}
table tr th.username{  width: 15%;}
table tr th.subject{  width: 15%;}
/*Table contents*/
table tr td{
  text-overflow: ellipsis; 
}
table tr td.url{
  text-align: left; 
  white-space:nowrap; 
  overflow:hidden;
  text-overflow: ellipsis;
}
table tr td.webimgs { 
  vertical-align: bottom;
  text-align: center;
  width: 25%;
  font-size: 11px;
  color: #008000;
}


table#web_view,table#email_view{
  width:60%;
  display: inline-table;
}
table#web_view tr th{
  width: 50%;
}
table#email_view tr th{
  width:30%;
}
table#email_view tr td{

}


img.webimgs {
  border: 1px solid black;
}


/* +++++++++++++++++  */
table col{
  display: table-column;
  text-align: left;
}
 tr th.email{
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis
}
/* tr th.room{width: 250px;}
 tr th.method{ width: 55px;}
 tr th.username{  width: 70px;}
 tr.message{  background-color: #FFFFFF;}
 tr.unread{
  font-weight: bold;
  background-color: #FFFFFF;
}
 tr.selected td, tr.unfocused td{
  font-weight: bold;
  color: #FFFFFF;
}
 tr.selected td{background-color: #CC3333;}
 tr.unfocused td{background-color: #929292;}
 tr.selected td a.rcmContactAddress, tr.unfocused td a.rcmContactAddress{
  color: #FFFFFF;
}
 tr.deleted td a.rcmContactAddress, tr.deleted td, tr.deleted td a{
  color: #CCCCCC;
}*/

#pluginsInfo{
  text-align: right;
}

/*Paginator*/
table#listpage th {
  background: #A9A2A1;
  color: black;
  padding: 0.5em;
}
table#listpage tr th.next {
  vertical-align: middle;
  width: 10%;
  cursor: pointer;
}
table#listpage tr th.next:hover{
	background: #A9C2A1;
}